<h1>{{title}}</h1>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{title}}</span>
            <span class="md-subhead">Any changes to the control update data in the model,
              changes in the model update the control
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <h1>{{title}}</h1>
      <div layout-gt-xs="row">
      <div class="interpolation">
        <a ng-href="img/{{username}}.jpg">Hello {{username}}!</a>
      </div>
    </div>
      <div layout-gt-xs="row">
      <md-input-container>
        <label>Enter your first name</label>
        <input ng-model="firstname">
      </md-input-container>
      <br>
      <br>
      <br>
      <md-input-container>
        <label>Enter date</label>
        <md-datepicker ng-model="date"></md-datepicker>
      </md-input-container>
        <div ng-if="firstname">Good Morning {{firstname}} {{date | date}}</div>
     </div>

     <div>
       <h3>Todos</h3>
       <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
       [ <a href="" ng-click="todoList.archive()">archive</a> ]
       <ul class="unstyled">
            <li ng-repeat="todo in todoList.todos">
                  <label class="checkbox">
                      <input type="checkbox" ng-model="todo.done">
                      <span class="done-{{todo.done}}">{{todo.text}}</span>
                  </label>
            </li>
       </ul>
       <form ng-submit="todoList.addTodo()">
                <input type="text" ng-model="todoList.todoText" size="30" placeholder="What needs to be done?">
                <md-button class="md-accent md-raised md-hue-2" type="submit">Add</md-button>
       </form>
     </div>

    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-href="https://material.angularjs.org/latest/" target="_blank" class="md-accent md-raised md-hue-1">Angular Material</md-button>
        <md-button ng-href="https://angularjs.org/" target="_blank" class="md-accent md-raised md-hue-2">AngularJS</md-button>
        <md-button ng-href="https://angular.io/" target="_blank" class="md-accent md-raised md-hue-3">Just Angular</md-button>
        <md-button ng-href="https://developers.google.com/" target="_blank" class="md-accent md-raised md-hue-4">Google Developers</md-button>
    </md-card-actions>
</md-card>
