<h1>Forms</h1>
<h3>{{title}}</h3>
<div class="simpleform">
  <form novalidate>
          <label>Name: <input type="text" ng-model="user.name" /></label><br>
          <label>Email: <input type="email" ng-model="user.email" /></label><br>
          Best Editor:
          <label><input type="radio" ng-model="user.preference" value="vi" />vi</label>
          <label><input type="radio" ng-model="user.preference" value="emacs">emacs</label><br>
          <input type="button" ng-click="reset()" value="Reset" />
          <input type="submit" ng-click="update(user)" value="Save" />
  </form>
  <pre>user = {{user | json}}</pre>
  <pre>master = {{master | json}}</pre>
</div>
<h3>Css form</h3>
<div class="cssform">
  <form novalidate class="css-form">
          <label>Name: <input type="text"  ng-model="usercf.name" required></label><br>
          <label>Email: <input type="email" ng-model="usercf.email" required></label><br>
          Gender:
          <label><input type="radio" ng-model="usercf.gender" value="male">male</label>
          <label><input type="radio" ng-model="usercf.gender" value="female">female</label>
          <label><input type="radio" ng-model="usercf.gender" value="android">android</label><br>
          <input type="button" ng-click="resetcf()" value="Reset">
          <input type="submit" ng-click="updatecf(usercf)" value="Save">
  </form>
  <pre>user = {{usercf | json}}</pre>
  <pre>master = {{mastercf | json}}</pre>
</div>
<h3>Custom model update triggers</h3>

<div class="mutform">
        <form>
          <label>Name:
                <input type="text" ng-model="usermut.name" ng-model-options="{ updateOn: 'blur'}">
          </label><br>
          <label>
            Other data:
                <input type="text" ng-model="usermut.data">
          </label><br>
        </form>
        <pre>username = "{{usermut.name}}"</pre>
        <pre>userdata = "{{usermut.data}}"</pre>
</div>

<h3>Debounced model updates</h3>
<form>
  <label>Name:
    <input type="text" ng-model="userdmu.name" ng-model-options="{ debounce: 500 }">
  </label><br>
</form>
<pre>username = "{{userdmu.name}}"</pre>

<style type="text/css">
.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}
.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}
</style>
