<h1>{{title}}</h1>
currency filter: {{ 100 | currency}} <br>
number filter with argument: {{ 1234 | number:3}}
<br>
<br>
<br>
<div class="filters">
  <div>
    All entries:
    <span ng-repeat="entry in ctrl.array">{{entry.name}} </span>
  </div>
  <div>
    Entries that contain an "a":
    <span ng-repeat="entry in ctrl.filteredArray">{{entry.name}} </span>
  </div>
</div>
<br>
<br>
<br>
<div class="reversedfilter">
  <input type="text" ng-model="greeting"><br>
    No filter: {{greeting}} <br>
    Reverse: {{ greeting | reverse}} <br>
    Reverse + uppercase: {{greeting | reverse:true}} <br>
    Reverse, filtered in controller {{filteredGreeting}}
</div>
<h3>stateful filters</h3>
<div class="statefulfilter">
    Input: <input type="text" ng-model="statefulFilterGreeting"> <br>
    Decoration: <input type="text" ng-model="decoration.symbol"> <br>
    No filter: {{statefulFilterGreeting}} <br>
    Decorated: {{statefulFilterGreeting | decorate}}
</div>
