<h1>{{title}}</h1>
<h3>Binding to form and control state</h3>
<div class="ngform">
  <form name="form" class="css-form" novalidate>

        <label>Name:
              <input type="text" ng-model="user.name" name="uName" required="">
        </label>
        <br>
        <div ng-show="form.$submitted || form.uName.$touched">
                <div ng-show="form.uName.$error.required">
                  tell us your name.
                </div>
        </div>
        <label>Email:
            <input type="email" ng-model="user.email" name="uEmail" required="">
        </label>
        <br>
        <div ng-show="form.$submitted || form.uEmail.$touched">
          <span ng-show="form.uEmail.$error.required">tell us your email.</span>
          <span ng-show="form.uEmail.$error.email">this is not a valid email.</span>
        </div>

        Gender:
        <label><input type="radio" ng-model="user.gender" value="male">male</label>
        <label><input type="radio" ng-model="user.gender" value="female">female</label>
        <label><input type="radio" ng-model="user.gender" value="android">android</label>
        <br>
        <label>
          <input type="checkbox" ng-model="user.agree" name="userAgree" required="">

          I agree:
        </label>
        <input type="text" ng-show="user.agree" ng-model="user.agreeSign" required="">
        <br>
        <div ng-show="form.$submitted || form.userAgree.$touched">
                  <div ng-show="!user.agree || !user.agreeSign">Please agree and sign.</div>
        </div>

        <input type="button" ng-click="reset(form)" value="Reset">
        <input type="submit" ng-click="update(user)" value="Save">
  </form>
  <pre>user = {{ user | json}}</pre>
  <pre>master = {{ master | json}}</pre>
</div>
<h3>Custom validation</h3>
<div class="cvform">

                      <form name="form" class="cv-form" novalidate>

                        <div>
                          <label>
                            Size (integer 0 - 100):
                            <input type="number" min="0" max="100" ng-model="size" name="size" integer>
                            {{size}}
                          </label>
                          <br>
                          <span ng-show="form.size.$error.integer">the value is not a valid integer!</span>
                          <span ng-show="form.size.$error.min || form.size.$error.max">
                            the value must be in the range 0 to 100!
                          </span>
                        </div>

                        <div>
                          <label>
                            Username:
                            <input type="text" ng-model="name" name="name" username>{{name}}
                          </label>
                          <br>
                          <span ng-show="form.name.$pending.username">checking if username is available ...</span>
                          <span ng-show="form.name.$error.username">this username is already taken!</span>
                        </div>

                      </form>

</div>
<h3>Modifying built-in validators</h3>
<div class="mbvform">
              <form name="form" class="mbv-form" novalidate>
                <div>
                  <label>
                    Overwritten Email (required top-level domain gmail.com to be present):
                    <input type="email" name="overwrittenEmail" ng-model="myEmail" overwrite-email>
                  </label>
                  <span ng-show="form.overwrittenEmail.$error.email">this email format is invalid</span>
                  <br>
                  Model: {{myEmail}}
                </div>
              </form>

</div>
<h3>Implement custom form controls using ngModel</h3>
<div contentEditable="true" ng-model="content" title="Click to edit"> my muse is true</div>
<pre>model = {{content}}</pre>

<style type="text/css">
      div[contentEditable] {
        cursor: pointer;
        background-color: #D0D0D0;
      }
</style>
