<h1>Expressions</h1>


<div class="expressions">
  <h3>Expressions</h3>
          Expression:
          <input type="text" ng-model="expr" size="80">
          <button ng-click="addExp(expr)">Evaluate</button>
          <ul>
            <li ng-repeat="expr in exprs track by $index">
                  [ <a href="" ng-click="removeExp($index)">X</a>]
                  <code>{{expr}}</code> => <span ng-bind="$parent.$eval(expr)"></span>
            </li>
          </ul>
</div>

<div class="context">
  <h3>Context</h3>
  Name: <input type="text" ng-model="name">
  <button ng-click="greet()">Greet</button>
  <button ng-click="window.alert('will not greet')">Won't Greet</button>
</div>

<div class="events">
  <h3>Events</h3>
  <button ng-click="clickMe($event)">Event</button>
  <p><code>$event</code>: <pre>{{$event | json}}</pre></p>
  <p><code>clickEvent</code>: <pre>{{clickEvent | json}}</pre></p>
</div>

<div class="onetimebindings">
  <h3>One-time bindings</h3>
  <button ng-click="clickMee($event)">Click Me</button>
  <p id="one-time-binding-example">One time binding: {{::firstName}}</p>
  <p id="normal-binding-example">Normal binding: {{firstName}}</p>
</div>
