<h1>{{title}}</h1>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Scope is an object that refers to the application model.</span>
            <span class="md-subhead">Scope is an execution context for expressions. Scopes are arranged
              in hierarchical structure which mimic the DOM structure of application. Scopes can watch
              expressions and propagate events.
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <h3>Scope as data-model</h3>
        <pre><code>
                //scope is glue between controller and view
                //during template linking phase, directives set up $watch expressions on scope
                <div class="scope-data-model">
                    Your name:
                    <input type="text" ng-model="username">
                    <button ng-click='sayHello()'>greet</button>
                    <hr>
                    {{greeting}}
                </div>

        </code></pre>
        <h3>Scope hierarchies</h3>
        <pre>
              <code>
                    //each AngularJS application has exactly one root scope
                    //directives can create new child scopes
                    //in JavaScript prototypical inheritance
                    //child scopes prototypically inherit from their parents
                    <div class="scope-show-demo">
                              <div ng-controller="GreetCtrl">
                                    Hello {{name}}!
                              </div>
                              <div ng-controller="ListCtrl">
                                    <ol>
                                      <li ng-repeat="name in names">{{name}} from {{department}}</li>
                                    </ol>
                              </div>
                    </div>
              </code>
        </pre>
        <h3>Scope events propagation</h3>
        <pre>
        <code>
                //scopes can propagate events in similar fashion to DOM events
                //event can be broadcasted to scope children
                //event can be emitted to scope parents
                <div class="" ng-controller="EventCtrl">
                          Root scope <tt>MyEvent</tt> count: {{count}}
                          <ul class="no-bullets">
                            <li ng-repeat="i in [1]" ng-controller="EventCtrl">
                              <button ng-click="$emit('MyEvent')">$emit('MyEvent')</button>
                              <button ng-click="$broadcast('MyEvent')">$broadcast('MyEvent')</button>
                              <br>
                              Middle scope <tt>MyEvent</tt> count: {{count}}
                              <ul class="no-bullets">
                                <li ng-repeat="item in [1, 2]" ng-controller="EventCtrl">
                                    Leaf scope <tt>MyEvent</tt> count: {{count}}
                                </li>
                              </ul>
                            </li>
                          </ul>
                </div>
        </code>
      </pre>
  <pre>
    <code>
              TODO:
                    continue exploring AngularJS documentation
                    create new angular 1 and angular 2 apps
                    write new tutorials
                    contribute in angular repositiories
                    have a max of fun in the process
                    we must learn angular, ionic technologies forwards and backwards ...
  </code>
</pre>


    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-href="https://material.angularjs.org/latest/" target="_blank" class="md-accent md-raised md-hue-1">Angular Material</md-button>
        <md-button ng-href="https://angularjs.org/" target="_blank" class="md-accent md-raised md-hue-2">AngularJS</md-button>
        <md-button ng-href="https://angular.io/" target="_blank" class="md-accent md-raised md-hue-3">Just Angular</md-button>
        <md-button ng-href="https://google.com/" target="_blank" class="md-accent md-raised md-hue-4">Google</md-button>
    </md-card-actions>
</md-card>

<style type="text/css">
    .scope-show-demo.ng-scope,
    .scope-show-demo .ng-scope {
        border: 2px solid red;
        margin: 3px;
    }
    .no-bullets {
      list-style-type: none;
    }
</style>
