<h1>{{title}}</h1>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">It's nice to meet you!</span>
            <span class="md-subhead">We are the Angular Open Source Crisis Team ...
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <h1>Our Thoughts</h2>
                       <md-content flex layout layout-align="center">
  <div layout-gt-sm flex flex-gt-sm="80" flex-gt-md="60">
    <paper flex>     <img src="https://unsplash.it/200x200/?random" alt="">
         <h3>Open Source
             <small>visions</small>
         </h3>
         <p>talk is cheap, show me the code.</p></paper>
    <paper flex>   <img src="https://unsplash.it/200x210/?random" alt="">
       <h3>Open Source
           <small>visions</small>
       </h3>
       <p>microsoft isn't evil, they just make really crappy operating systems.</p></paper>
    <paper flex>         <img src="https://unsplash.it/200x220/?random" alt="">
             <h3>Open Source
                 <small>visions</small>
             </h3>
             <p>open source is more stable software, it is the right way to do things.</p></paper>
  </div>
  <md-button class="md-fab"></md-button>
</md-content>
<md-content flex layout layout-align="center">
<div layout-gt-sm flex flex-gt-sm="80" flex-gt-md="60">
<paper flex>                     <img src="https://unsplash.it/200x230/?random" alt="">
                     <h3>Open Source
                         <small>visions</small>
                     </h3>
                     <p>software is like sex, it's better when it's free.</p></paper>
<paper flex>                     <img src="https://unsplash.it/200x240/?random" alt="">
                     <h3>Open Source
                         <small>visions</small>
                     </h3>
                     <p>if microsoft ever does applications for linux, it means humanity has won.</p></paper>
<paper flex>       <img src="https://unsplash.it/200x250/?random" alt="">
       <h3>Open Source
           <small>visions</small>
       </h3>
       <p>the weed will grow over the huts in redmond. just for fun. 2017.</p></paper>
</div>
<md-button class="md-fab"></md-button>
</md-content>
<md-content flex layout layout-align="center">
<div layout-gt-sm flex flex-gt-sm="80" flex-gt-md="60">
<paper flex>                     <img src="https://unsplash.it/200x260/?random" alt="">
                     <h3>Open Source
                         <small>visions</small>
                     </h3>
                     <p>work hard, be kind, do more ...</p></paper>
<paper flex>                     <img src="https://unsplash.it/200x270/?random" alt="">
                     <h3>Open Source
                         <small>visions</small>
                     </h3>
                     <p>winners do the things loosers don't want to do. 'million dollar baby'</p></paper>
<paper flex>       <img src="https://unsplash.it/200x280/?random" alt="">
       <h3>Open Source
           <small>visions</small>
       </h3>
       <p>perform in a suicide pace, every day is a good day to die. have no fear.</p></paper>
</div>
<md-button class="md-fab"></md-button>
</md-content>

<p>join us as we free the world from the closed source dicks.</p>
<p>we are fearless, ruthless and honest. the goal is progress.</p>
<p>develop quality software as fast as possible. iterative.</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-href="https://material.angularjs.org/latest/" target="_blank" class="md-accent md-raised md-hue-1">Angular Material</md-button>
        <md-button ng-href="https://angularjs.org/" target="_blank" class="md-accent md-raised md-hue-2">AngularJS</md-button>
        <md-button ng-href="https://angular.io/" target="_blank" class="md-accent md-raised md-hue-3">Just Angular</md-button>
        <md-button ng-href="https://google.com/" target="_blank" class="md-accent md-raised md-hue-4">Google</md-button>
    </md-card-actions>
</md-card>
