<h1>{{title}}</h1>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Google Maps API</span>
            <span class="md-subhead">GoogleURL && CarmenURL
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>

              <div id="map"></div>


    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-href="https://material.angularjs.org/latest/" target="_blank" class="md-accent md-raised md-hue-1">Angular Material</md-button>
        <md-button ng-href="https://angularjs.org/" target="_blank" class="md-accent md-raised md-hue-2">AngularJS</md-button>
        <md-button ng-href="https://angular.io/" target="_blank" class="md-accent md-raised md-hue-3">Just Angular</md-button>
        <md-button ng-href="https://developers.google.com/" target="_blank" class="md-accent md-raised md-hue-4">Google Developers</md-button>
    </md-card-actions>
</md-card>

<script>
      function initMap() {
        var siliconValley = {lat: 37.386051, lng: -122.083855 }
        var map = new google.maps.Map(document.getElementById('map'), {
          center: siliconValley,
          zoom: 8
        });
        var marker = new google.maps.Marker({
          position: siliconValley,
          map: map
        });
      }
      initMap();
    </script>
