<h1>{{title}}</h1>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{title}} is a mobile platform that helps you quickly develop high quality apps, grow your user base and earn more money.</span>
            <span class="md-subhead">
              Features: Realtime Database, Authentication, Cloud Messaging, Storage, Hosting, Test Lab, Crash Reporting, Notifications, Remote Config, App Indexing, Dynamic Links, Invites, AdWords, AdMob ...
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <h1>{{title}}</h1>

      <!-- anything typed here is saved to firebase database -->
      <h3>Talk to Firebase, view blazing fast 3 way data-binding</h3>
      <input type="text" ng-model="data.text" maxlength="50">

      <!-- all changes from firebase database appear here -->
      <h3 ng-if="data.text">You said: '{{data.text}}' [data saved and from firebase database in real-time]</h3>

      <hr>

      <h1>JavaScript Projects (work in progress)</h1>

      <input type="text" ng-model="projectList.search" class="search-query" id="projects_search" placeholder="Search">

      <table>
          <thead>
            <tr>
              <th>Project</th>
              <th>Description</th>
              <th><a href=""></a><i class="material-icons">add</i></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in projectList | filter: projectList.search | orderBy: 'name'">
                    <td><a ng-href="{{project.site}}" target="_blank">{{project.name}}</a></td>
                    <td>{{project.description}}</td>
                    <td>
                        <a ng-href=""><i class="material-icons">mode_edit</i></a>
                    </td>
            </tr>
          </tbody>
      </table>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-href="https://material.angularjs.org/latest/" target="_blank" class="md-accent md-raised md-hue-1">Angular Material</md-button>
        <md-button ng-href="https://angularjs.org/" target="_blank" class="md-accent md-raised md-hue-2">AngularJS</md-button>
        <md-button ng-href="https://angular.io/" target="_blank" class="md-accent md-raised md-hue-3">Just Angular</md-button>
        <md-button ng-href="https://developers.google.com/" target="_blank" class="md-accent md-raised md-hue-4">Google Developers</md-button>
        <md-button ng-href="https://firebase.google.com/" target="_blank" class="md-accent md-raised md-hue-5">Firebase</md-button>
    </md-card-actions>
</md-card>
