
<div>
  <div>
    <div>
      <div>

        <p>
          Search for:
          <input ng-model="$ctrl.query" placeholder="pure google experience"/>
          Sort by:
          <select ng-model="$ctrl.orderProp" ng-init="$ctrl.orderProp='age'">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
          </select>
        </p>

      </div>
      <div>
        <!--Body content-->

        <ul class="phones">
          <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp"
              class="thumbnail phone-list-item">
            <a href="#!/view14/{{phone.id}}" class="thumb">
              <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" class="img-thumb" />
            </a>
            <a href="#!/view14/{{phone.id}}">{{phone.name}}</a>
            <p>{{phone.snippet}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div>
