<h1>{{title}}</h1>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">AngularJS makes the web smarter with web components HTML6/7 standards and more beautiful
              with animations.</span>
            <span class="md-subhead">AngularJS provides animation hooks for common directives such as ngRepeat, ngSwitch, and
              ngView, as well as custom directives via the $animate service. These animation hooks are set in place to trigger
              animations during the life cycle of various directives and when triggered, will attempt to perform a CSS transition
              , CSS Keyframe Animation or JavaScript callback Animation (depending on if an animation is placed on the given directive).
              Animations can be placed using vanilla CSS by following the naming conventions set in place by AngularJS or with JavaScript
              code when it's defined as a factory.
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <h3>Animations enabled for ngShow and ngHide</h3>

          <div ng-init="checked = true">
                <label>
                <md-checkbox ng-model="checked">is visible</md-checkbox>
                </label>
                <div class="content-area sample-show-hide" ng-show="checked">
                  Content: angular + linux ===  ❤❤❤;
                </div>
          </div>
          <h3>Phonecat App Animations</h3>

          <p>View the AngularJS Phonecat Tutorial App <md-button class="md-accent md-raised md-hue-1"  href="https://docs.angularjs.org/tutorial/" target="_blank">MyGoogleAndroids</md-button> for awesome animations
            and Just Angular Tour of Heroes Animations <md-button class="md-accent md-raised md-hue-2"  href="https://angular.io/docs/ts/latest/guide/animations.html" target="blank">AnimateTheWeb</md-button> for beautiful animations
              , make sure to click on all links and read, reproduce all the code samples and of course YearOfMoo <md-button class="md-accent md-raised md-hue-3" href="https://www.yearofmoo.com/categories/animation" target="_blank">
              ModelTechnologyAndHumanity</md-button> from Matias on wonderful Animations, he makes animations in the node_modules for @angular/core ...
          </p>

            <div class="phonecatApp">

            <phone-list></phone-list>


            </div>

        <pre>
<code>
              TODO:
                    spirit of Angular: work hard, be kind, do more ...
                    continue exploring AngularJS documentation
                    create new angular 1 and angular 2 apps
                    write new tutorials
                    contribute in angular repositiories
                    have a max of fun in the process
                    we must learn angular, ionic technologies forwards and backwards ...
</code>
</pre>


    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-href="https://material.angularjs.org/latest/" target="_blank" class="md-accent md-raised md-hue-1">Angular Material</md-button>
        <md-button ng-href="https://angularjs.org/" target="_blank" class="md-accent md-raised md-hue-2">AngularJS</md-button>
        <md-button ng-href="https://angular.io/" target="_blank" class="md-accent md-raised md-hue-3">Just Angular</md-button>
        <md-button ng-href="https://google.com/" target="_blank" class="md-accent md-raised md-hue-4">Google</md-button>
    </md-card-actions>
</md-card>
<style type="text/css">
        .content-area {
          border: 3px solid red;
          margin-top: 10px;
          padding: 10px;
        }
        .sample-show-hide {
          transition: all linear 1s;
        }
        .sample-show-hide.ng-hide {
          opacity: 0;
        }
</style>
