<h1>Directives</h1>

<h3>template expanding directives</h3>
<my-technology></my-technology>
<br>
<br>
<br>
<div my-muse type="name"></div>
<div my-muse type="address"></div>
<h3>isolate scope directives</h3>
<my-friend info="hans"></my-friend>
<hr>
<my-friend info="stephen"></my-friend>
<hr>
<my-friend info="rob"></my-friend>
<hr>
<h3>directive that manipulates dom</h3>
Date format: <input ng-model="format">
<hr>
Current Time is: <span my-current-time="format"></span>
<h3>directive that wraps other elements</h3>
<my-dialog>check out the contents, {{compiler}}!</my-dialog>
<br>
{{message}}
<my-dialog-close ng-hide="dialogIsHidden" on-close="hideDialog(message)">
  check out the contents, {{compiler}}
</my-dialog-close>
<h3>directive that adds event listeners</h3>
