<span ng-switch="$ctrl.editMode">

          <input type="{{$ctrl.fieldType}}" ng-switch-when="true" ng-model="$ctrl.fieldValue">
          <span ng-switch-default>{{$ctrl.fieldValue}}</span>

</span>

<button ng-click="$ctrl.handleModeChange()">{{$ctrl.editMode ? 'Save' : 'Edit'}}</button>
<button ng-if="$ctrl.editMode" ng-click="$ctrl.reset()">Reset</button>
