<hr>
<div class="component-heroes">
      Name: {{$ctrl.hero.name}}<br>
      Location: <editable-field field-value="$ctrl.hero.location" field-type="text"
      on-update="$ctrl.update('location', value)"></editable-field><br>
      <button ng-click="$ctrl.delete()">Delete</button>
</div>
