<h1>Understanding Components</h1>
<h3>{{title}}</h3>
<div class="components">
  <b>Hero</b><br>
  <hero-detail hero="ctrl.hero"></hero-detail>
</div>
<br>
<br>
<hero-list></hero-list>
<hr>
<br>
<h3>{{lifeCycleHookTitle}}</h3>
<app></app>
