<h1>{{title}}</h1>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">AngularJS uses constructor injection</span>
            <span class="md-subhead">To manage responsibility of dependency creation,
              each AngularJS application has an injector. The injector is a service
              locator that is responsible for construction and lookup of dependencies.
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <pre><code>
                //provide wiring information in a module
                var myModule = angular.module('myModule', []);
        </code></pre>
        <pre>
              <code>
                //injector creates a greeter service
                //note: greeter is dependent on $window service
                //greeter service is an object that contains a greet method
                myModule.factory('greeter', function($window){
                      return {
                        greet: function(text){
                          $window.alert(text);
                        }
                      };
                });
              </code>
        </pre>
        <pre>
        <code>
                //create new injector that can provide components defined in myModule module
                //request our greeter service from injector
                //note: this is usually done automatically by AngularJS bootstrap
                var injector = angular.injector(['ng', 'myModule']);
                var greeter = injector.get('greeter');
        </code>
      </pre>
        <pre>
      <code>
                //to not break law of demeter and pass the injector around in our application
                //we use declarative notation in our HTML templates, to hand responsibility
                //creating components to our injector
                function MyCtrl($scope, greeter) {
                  $scope.sayHello = function() {
                    greeter.greet('Hello World');
                  };
                }
      </code>
    </pre>
        <pre>
    <code>
              //when AngularJS compiles the HTML, she processes the ng-controller directive
              //which in turn asks the injector to create an instance of the controller
              //and its dependencies
              injector.instantiate('MyCtrl');

    </code>
  </pre>
        <pre>
  <code>
              TODO: continue exploring AngularJS documentation


  </code>
</pre>
        <pre>
<code>
              TODO:
                    create new angular 1 and angular 2 apps
                    write new tutorials
                    contribute in angular repositiories
                    have a max of fun in the process
                    we must learn angular, ionic technologies forwards and backwards ...
</code>
</pre>


    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-href="https://material.angularjs.org/latest/" target="_blank" class="md-accent md-raised md-hue-1">Angular Material</md-button>
        <md-button ng-href="https://angularjs.org/" target="_blank" class="md-accent md-raised md-hue-2">AngularJS</md-button>
        <md-button ng-href="https://angular.io/" target="_blank" class="md-accent md-raised md-hue-3">Just Angular</md-button>
        <md-button ng-href="https://google.com/" target="_blank" class="md-accent md-raised md-hue-4">Google</md-button>
    </md-card-actions>
</md-card>
