<h1>{{title}}</h1>
    <h3>directive with event listeners</h3>
        <span my-draggable>Drag Me</span>
    <h3>directives that communicate</h3>
<my-tabs>
  <my-pane title="Hello">
    <p>Just Angular. One framework. Mobile && desktop.</p>
  </my-pane>
  <my-pane title="World">
      <em>AngularJS -- Superheroic JavaScript MVW Framework.</em>
      <p><a href ng-click="i = i + 1">counter {{ i || 0}}</a></p>
  </my-pane>
</my-tabs>
