<div>
  <h1>Data Binding External API</h1>
    <b>Invoice:</b>
    <div>
        Quantity: <input type="number" min="0" ng-model="invoice.qty" required>
    </div>
    <div>
        Costs: <input type="number" min="0" ng-model="invoice.cost" required>
        <select ng-model="invoice.inCurr">
            <option ng-repeat="cur in invoice.currencies">{{cur}}</option>
        </select>
    </div>
    <div>
        <b>Total:</b>
        <span ng-repeat="cur in invoice.currencies">{{invoice.total(cur) | currency: cur}}</span>
        <br>
        <button class="btn" ng-click="invoice.pay()">Pay</button>
    </div>
</div>
<h1>{{title}}</h1>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">$http</span>
            <span class="md-subhead">$http service is a core AngularJS service that facilitates communication with remote
            HTTP Servers via the browser's XHR object or via JSONP.
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content ng-controller="MovieCtrl">


      <md-input-container>
    <label>Search</label>
    <input ng-model="search">
  </md-input-container>

  <div ng-if="details.Response==='True'">
    <p>{{details.Title}}, {{details.Year}}</p>
    <p><strong>Released on:</strong> {{details.Released}} ({{details.Runtime}})</p>
    <p>{{details.Plot}}</p>
    <img ng-src="{{details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster}}">

  </div>

        <pre>
<code>
              TODO:
                    continue exploring AngularJS documentation
                    create new angular 1 and angular 2 apps
                    write new tutorials
                    contribute in angular repositiories
                    have a max of fun in the process
                    we must learn angular, ionic technologies forwards and backwards ...
</code>
</pre>


    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-href="https://material.angularjs.org/latest/" target="_blank" class="md-accent md-raised md-hue-1">Angular Material</md-button>
        <md-button ng-href="https://angularjs.org/" target="_blank" class="md-accent md-raised md-hue-2">AngularJS</md-button>
        <md-button ng-href="https://angular.io/" target="_blank" class="md-accent md-raised md-hue-3">Just Angular</md-button>
        <md-button ng-href="https://google.com/" target="_blank" class="md-accent md-raised md-hue-4">Google</md-button>
    </md-card-actions>
</md-card>
